= form_for entry do |f|
  -if entry.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@history.errors.count, "error")} prohibited this history from being saved:"
      %ul
        - @history.errors.full_messages.each do |msg|
          %li= msg

  %h6= entry.f.name
  It happened: about
  = f.select(:quantities, 1..10, {:include_blank => true})
  times around
  = f.hidden_field :f_id
  = f.text_field :note, :placeholder => "describe in your own words (optional)"
  = f.submit 'Update'
  .created_at= display_action_taken_for entry

