- content_for :extra_javascripts do
  = javascript_include_tag 'datehelper'
  
= form_for entry do |f|
  -if entry.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@history.errors.count, "error")} prohibited this history from being saved:"
      %ul
        - @history.errors.full_messages.each do |msg|
          %li= msg

  %h6= entry.f.name
  = "I observed #{entry.f.action.name} about" unless entry.f.action.nil?
  = f.select(:quantities, 1..10, {:include_blank => true})
  = "#{pluralize(entry.quantities, entry.f.action.measured_in)} around" unless entry.f.action.nil?

  = text_field :happened, :day, :value => diplay_date(entry.eaten_at), :id => "datepicker",
  = select(:happened, :hour, hours_of_the_day, :selected => select_hour(entry.happened_at))

  = f.hidden_field :f_id
  = f.text_field :note, :placeholder => "describe in your own words (optional)"
  = f.submit 'Update'

