= form_for @f do |f|
  -if @f.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@f.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @f.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :category
    = select("f", "parent_id", @food.available_categories.collect {|f| [ f.name, f.id ]}, {:prompt => 'Select Category'})

  .field
    = f.label :description
    = f.text_field :description

    = link_to "+", new_food_ingredient_path(@food.id), :remote => true

  .field
    Includes:     
      - f.fields_for :ints  do |inf|
        = render :partial => 'ints/form', :locals => { :f => inf }
  
    = link_to "+", new_f_int_path(@f.id), :remote => true
    #ints children

  .actions
    = f.submit 'Save'


  .actions
    = f.submit 'Save'
