= form_for @f do |f|
  -if @f.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@f.errors.count, "error")} prohibited this food from being saved:"
      %ul
        - @f.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
