= form_for @f do |f|
  -if @f.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@f.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @f.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :category
    = select("f", "category", @f.available_categories.collect {|f| [ f.name, f.name ]}, {:prompt => 'Select Category'})
  .field
    = f.label :description
    = f.text_field :description

  .field
    ints     
    - f.fields_for :ints  do |inf|
      = render :partial => 'int', :locals => { :f => inf }
  
    = link_to "#", "add", :remote => true
  .actions
    = f.submit 'Save'


  .actions
    = f.submit 'Save'
