%p
  %b Name:
  = @f.name
%p
  %b Type:
  = @f.type
%p
  %b Description:
  = @f.description

%p
  %b Includes
  - @f.ints.each do |int|
    = int.name

= link_to 'Edit', edit_f_path(@f)
\|
= link_to 'Back', fs_path
